.DS_Store
build/
dist/
wheelhouse/
icloudpd.egg-info
tests/fixtures/**
__pycache__
.pytest_cache
.cache
*.pyc
.idea
.coverage
.coverage.*
htmlcov
*.whl
icloudpd-latest-py2.py3-none-any.whl
.venv
venv
.env
env
environment
.environment
*.spec
# docs
docs/_build
# exclude since there is no js development, just for local testing npm packaging
node_modules/
/package.json
/package-lock.json
# used for local troubleshooting
.photos
cron_script.sh
Photos/
.vscode
